# This file is imported by init.{ro.hardware}.rc

# to override this file (device specific .rc)
import /init.${ro.hardware}_core.rc

# LGE logger service rc
import /init.lge.log.rc

# LGE Bluetooth rc
import /init.lge.bt.rc

# LGE FM Radio rc
import /init.lge.fm.rc

# LGE ATD service rc
import /init.lge.atd.rc

on init
    mkdir /mpt 0755 system system

    wait /dev/block/bootdevice/by-name/mpt
    exec u:r:setup_fs:s0 -- /sbin/setup_fs_static \
        /dev/block/bootdevice/by-name/mpt \
        no_reboot

on fs
    mount_all fstab.${ro.hardware}
    swapon_all fstab.${ro.hardware}

    wait /dev/block/bootdevice/by-name/persist
    exec /system/bin/e2fsck -y /dev/block/bootdevice/by-name/persist
    mount ext4 /dev/block/bootdevice/by-name/persist /persist nosuid nodev barrier=1 noatime noauto_da_alloc errors=continue
    restorecon_recursive /persist
    mkdir /persist/data 0700 system system

    wait /dev/block/bootdevice/by-name/modem
    mount vfat /dev/block/bootdevice/by-name/modem /firmware ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337,context=u:object_r:firmware_file:s0

    wait /dev/block/bootdevice/by-name/sns
    exec /system/bin/e2fsck -y /dev/block/bootdevice/by-name/sns
    mount ext4 /dev/block/bootdevice/by-name/sns /sns nosuid nodev barrier=1 noatime noauto_da_alloc errors=continue

    wait /dev/block/bootdevice/by-name/drm
    exec /system/bin/e2fsck -y /dev/block/bootdevice/by-name/drm
    mount ext4 /dev/block/bootdevice/by-name/drm /persist-lg nosuid nodev barrier=1 noatime noauto_da_alloc errors=continue

    wait /dev/block/bootdevice/by-name/mpt
    exec /system/bin/e2fsck -y /dev/block/bootdevice/by-name/mpt
    mount ext4 /dev/block/bootdevice/by-name/mpt /mpt nosuid nodev barrier=1 noatime noauto_da_alloc errors=continue

    # Executing tune2fs to reserve some region in /data.(40MB)
    exec /system/bin/tune2fs -u system -r 10240 /dev/block/bootdevice/by-name/userdata

# LGE_CHANGE_START
on post-fs
    # execute sreadahead daemon to reduce boot-time
    start sreadahead
# LGE_CHANGE_END
    # LGE - booting time reduction
    # 1. removing 'restorecon_recursive /sys/kernel/debug' on post-fs in system/core/rootdir/init.rc
    # 2. adding 'restorecon_recursive /sys/kernel/debug' on boot_completed in system/core/rootdir/init.rc
    # 3. execute build and download
    # 4. adding following debugfs nodes which are found from audit denied kernel boot log
    restorecon_recursive /sys/kernel/debug/sreadahead
    restorecon /sys/kernel/debug/clk/debug_suspend
    restorecon_recursive /sys/kernel/debug/rmt_storage
    restorecon /sys/kernel/debug/tracing
    restorecon /sys/kernel/debug/tracing/tracing_on
    restorecon /sys/kernel/debug/tracing/buffer_size_kb
    restorecon /sys/kernel/debug/tracing/free_buffer
    restorecon /sys/kernel/debug/tracing/trace_marker
    restorecon /sys/kernel/debug/probe_time
    restorecon /sys/kernel/debug/scm_errata/kryo_e76
    restorecon_recursive /sys/kernel/debug/tracing/events/sched
    restorecon_recursive /sys/kernel/debug/tracing/events/workqueue
    restorecon_recursive /sys/kernel/debug/tracing/events/mdss
    restorecon_recursive /sys/kernel/debug/tracing/events/msm_vidc
    restorecon_recursive /sys/kernel/debug/tracing/events/power/
    restorecon_recursive /sys/kernel/debug/tracing/events/regulator
    restorecon_recursive /sys/kernel/debug/tracing/events/msm_low_power
    restorecon_recursive /sys/kernel/debug/tracing/events/thermal
    restorecon_recursive /sys/kernel/debug/tracing/events/irq
    restorecon_recursive /sys/kernel/debug/tracing/events/rcu
    restorecon_recursive /sys/kernel/debug/tracing/trace_marker/
    restorecon_recursive /sys/kernel/debug/fg_memif
    restorecon_recursive /sys/kernel/debug/spmi/spmi-0
    restorecon_recursive /sys/kernel/debug/msm_core

# change preload directory permission for movetosd about preload app
service chmod_dp /system/bin/sh /system/etc/change_permission_preload.sh
    disabled
    oneshot

on post-fs-data
    chown system system /mpt
    chmod 0775 /mpt

# change preload directory permission for movetosd about preload app
    start chmod_dp

#sensor - make directory for sns.reg used by sensordaemon
    mkdir /sns/cal/ 0755 system system

# kernel - make directory for last kmsg
    mkdir /data/ramoops 0750 root log

on boot
    start set_emmc_size

on property:persist.sys.emmc_size=64G
    setprop ro.device.memory.system 0
    setprop ro.device.memory.internal 64

on property:persist.sys.emmc_size=32G
    setprop ro.device.memory.system 0
    setprop ro.device.memory.internal 32

on property:persist.sys.emmc_size=16G
    setprop ro.device.memory.system 0
    setprop ro.device.memory.internal 16

on property:persist.sys.emmc_size=8G
    setprop ro.device.memory.system 0
    setprop ro.device.memory.internal 8

on property:init.svc.bootanim=stopped
    start ramoops_backup
    start time_in_state

on property:persist.service.crash.enable=1
    restart service-crash

# set eMMC size
service set_emmc_size /system/bin/sh /set_emmc_size.sh
    user root
    group media_rw system sdcard_rw
    disabled
    oneshot

# LGE_CHANGE_START, execute sreadahead daemon to reduce boot-time
service sreadahead /sbin/treadahead
    oneshot
    disabled
    seclabel u:r:sreadahead:s0

# make a diecision whether sreadahead would be performed or not.
service sreadahead-check /sbin/sreadahead_check
    class main
    user root
    group root
    oneshot
    seclabel u:r:sreadahead-check:s0
# LGE_CHANGE_END

# ramoops backup function service
service ramoops_backup /system/bin/sh /system/etc/ramoops_backup.sh
    class main
    disabled
    oneshot

# enable & disable crash handler, rtb & trace event through property
service service-crash /system/bin/sh /init.msm8937.crash.sh
    class main
    disabled
    oneshot

# time_in_state
service time_in_state /system/bin/sh /init.time_in_state.sh
    class main
    disabled
    oneshot

#LGE_CHANGE_S, Advanced MOCA, huny.lee@lge.com
service moca_service /system/bin/advanced_moca -s
    class late_start
    user root
    group system sdcard_r sdcard_rw radio
    disabled
    oneshot
    socket Full.MOCA.port stream 660 system system

on property:persist.service.moca.enable=1
   start moca_service

#service moca_service_disable /system/bin/advanced_moca -k
#    class late_start
#    user root
#    group system sdcard_r sdcard_rw radio
#    disabled
#    oneshot
#
#on property:persist.service.moca.enable=0
#   start moca_service_disable
#LGE_CHANGE_E, Advanced MOCA, huny.lee@lge.com

# LGE - booting time reduction
on property:sys.boot_completed=1
    restorecon_recursive /sys/kernel/debug
    restart service-crash
