# LGE copyright 2016.

import /init.lge.power.rc

service gbmd /system/bin/gbmd
   class main
   socket gbm-client stream 660 system system
   user system
   group system

service prmd /system/bin/prmd
   class main
   socket prm-client stream 660 system system
   user system
   group system

on boot
# setup permissions for fb0 related nodes
    chown system system /sys/class/graphics/fb0/mdp/vfps
    chmod 644 /sys/class/graphics/fb0/mdp/vfps
    chown system system /sys/class/graphics/fb0/mdp/vfps_fcnt
    chmod 644 /sys/class/graphics/fb0/mdp/vfps_fcnt
    chown system system /sys/class/graphics/fb0/mdp/vfps_ratio
    chmod 644 /sys/class/graphics/fb0/mdp/vfps_ratio
   chown system system /sys/class/panel/img_tune/image_enhance_set
   chmod 664 /sys/class/panel/img_tune/image_enhance_set

# QC2.0
   chown root system /sys/module/qpnp_smbcharger/parameters/quick_charging_state
   chmod 0664 /sys/module/qpnp_smbcharger/parameters/quick_charging_state

# chargerlogo
on chargerlogo
   trigger early-fs
   trigger fs
   trigger post-fs
   trigger post-fs-data
   trigger chargerlogo_exec
